@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    background-color: #424242;
    color: white;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #191919;
    width: 100%;
}

@media (max-width: 800px) {
    section{
        max-width: 800px;
    
    }
    .label-texto{
        font-size: 0.8em;
    }
}


nav {
    width: 100%;
    display: flex;
    margin-right: 50px;
}


.letra-azul {
    color: #148CFC;
}


.letra-verde {
    color: #6FFFBA;
}


a {
    color: #6FFFBA;
    text-decoration: none;
    margin: 2%;
}


a:hover,
a:focus {
    transition: 0.6s;
    color: #148CFC;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #191919;
    width: 100%;
    height: 8%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


p {
    margin: 10px 5px;
    text-align: justify;
}


.container-introducao {
    text-align: center;
}


.label-titulo {
    font-size: 1.8em;
    font-weight: 1000;
    text-indent: 1em;
    margin: 1.3em 0;
}

.label-texto {
    font-size: 1.25em;
    margin: 4%;
    text-align: justify;
}

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container-card-elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c7e4ff;
    width: 20em;
    padding: 2em;
    border-radius: 2em;
    color: #191919;
    margin: 0 1em;
    flex-wrap: nowrap;
}

.container-card-elementos img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #09aa5cb6;
}


/*pagina de contatos*/

.container-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.container-apresentacao-elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #148CFC;
    width: 100;
    height: auto;
    padding: 2em 0em 2em 2em;
    border-radius: 2em 0em 0em 2em;
    color: #191919;
    margin: 0 10%;
}

.link-interno:hover, .link-interno:focus{
    color: #191919;
}

.foto-perfil{
    border-radius: 100%;
    height: 15em;
    width: 15em;
}

@media screen and (max-width: 900px) {
	   
    .container-card{

        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container-card-elementos{

        margin: 1em 0;
    }


    .label-texto{

        font-size: 1em;
        margin: 6%;
    }

    .container-card-elementos > p{

        text-align: left;
        font-size: 0.9em;

    }


    .label-titulo{

        font-size: 1.5em;
        text-indent: 0.5em;
    }


    /* .container-apresentacao-elementos{

        ;
    } */


}