@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    background-color: #424242;
    color: white;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #191919;
    width: 100%;
}

@media screen and (max-width: 900px) {
  
  .nav-bloco-dois nav > a{
    
    font-size: 0.8em;
    
  }
  
  .nav-bloco-um a > img{
    
    width: 7em;
    height: 2em;
    padding: 0 1em;
  }
  
    section{
        max-width: 800px;
    
    }
    .label-texto{
        font-size: 0.8em;
    }
    
    .container-introducao > p{
      
      font-size: 1em;
    }
    
    footer > img{
     
      width: 7em;
      height: 2em;
      padding: 0 1em;
      
    }
    
    footer div > a{
      
      font-size: 0.8em;
      
    }
}


nav {
    width: 100%;
    display: flex;
    margin-right: 50px;
}


.letra-azul {
    color: #23DBE5;
}


.letra-verde {
    color: #ded731;
}


a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 2%;
}


a:hover,
a:focus {
    transition: 0.6s;
    color: #ded731;
}

i {
    color: #23DBE5;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #191919;
    width: 100%;
    height: 8%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


p {
    margin: 10px 5px;
    text-align: justify;
    
}


.container-introducao{
    text-align: center;
   
}


.container-introducao > .adicionar > .flash-submit{

    background-color: #c7e4ff;
    color: #191919;
    font-weight: 700;
    border-radius: 0.5em;
    padding: 0.5em;
    border: none;
    margin: 0.5em 0; 

}


.label-titulo {
    font-size: 1.8em;
    font-weight: 1000;
    text-indent: 1em;
    margin: 1.3em 0;
}

.label-texto {
    font-size: 0.8em;
    margin: 4%;
    text-align: justify;
}

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container-card-elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c7e4ff;
    width: 20em;
    padding: 2em;
    border-radius: 2em;
    color: #191919;
    margin: 0 1em;
    flex-wrap: nowrap;
}

.container-card-elementos img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #09aa5cb6;
}

/*pagina de contatos*/

.container-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-apresentacao-elementos {

    display: flex;
    justify-content: space-around;
    background-color: #148CFC;
    width: 50%;
    height: auto;
    margin: 1em 0;
    padding: 2em 0em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    color: #191919;
}

.link-interno:hover, .link-interno:focus{
    color: #191919;
}

.foto-perfil{
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

#foto-manfred{

    width: 11em;
    height: 12em;
}

.lista-link-interno{

    display: flex;
}
  
  #botaoenviar{
    
    background-color: #5794f3;
    color: white;
    padding: 0.4em;
    border-radius: 1em;
    width: 20%;
    border: none;
    margin: 1em 0;
   
  }
  
  #form .label-texto > input{
    
    background-color: white;
  }
  
  #form .label-texto{
    
    text-align: left;
  }
  
  .adicionar > input{
    
    background-color: white;
  }



/*flashcard css*/
.div-flashcard > button{

    align-items: flex-end;
}

.botao-flash{

    align-items: flex-end;
    justify-self: flex-end;
    display: flex;
    border: none;
    background: none;
    color: white;
    margin-left: 90%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700 ;
}

@media screen and (max-width: 900px) {
 
    
    .container-apresentacao-elementos {
    
        display: flex;
        justify-content: space-around;
        background-color: #148CFC;
        width: 80%;
        height: auto;
        margin: 1em 0;
        padding: 2em 2em 2em 2em;
        border-radius: 1.5em 1.5em 1.5em 1.5em;
        color: #191919;
    }
    
    .container-apresentacao-elementos:last-child{
      
      margin-bottom: 5em;
    }
    
    .container-apresentacao-elementos div > .label-titulo{
      
      font-size: 0.8em;
    }
    
    
      .lista-link-interno > a{
       
        font-size: 0.7em;
     }
     
   


    .foto-perfil{

        height: 7em;
        width: 7em;
    }
    
    #foto-manfred{
    
        width: 9em;
        height: 7em;
        border-radius: 50%;
        
    }
	   
    .container-card{

        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container-card-elementos{

        margin: 1em 0;
    }


    .label-texto{

        font-size: 1em;
        margin: 6%;
    }

    .container-card-elementos > p{

        text-align: left;
        font-size: 0.9em;

    }


    .label-titulo{

        font-size: 1.4em;
        text-indent: 0.5em;
    }

    .div-flashcard{
        padding: 0.5em;
        border-radius: 1em;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0.8em auto;
        margin-bottom: 1em;
        width: 30%;
        height: auto;
        perspective: 100px;
        width: 400px;
        height: 300px;
    }
      
    .front, .back {
        position: absolute;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #35404b;
        width: 100%;
      }

      .front{
        background-color: #148CFC;
        z-index: 1;
        align-items: center;
        justify-content: center;
      }
      .back {
        background: rgb(61, 129, 197);
        transform: rotateY(-180deg);
        backface-visibility: hidden;
      }
      
      .front:hover {
        transform: rotateY(180deg);
        z-index: 0;
      }
      
      .front:hover .back {
        transform: rotateY(0);
        z-index: 1;
      }

}